{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
  },
  "rules": {
    "react/prefer-stateless-function": [0],
    "max-len": [0],
    "arrow-body-style": [0],
    "no-underscore-dangle": [0],
  }
}
