{
  "extends": "eslint-config-airbnb",
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
  },
  "rules": {
    "react/prefer-stateless-function": [0],
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
